ACTION!="add|change|move", GOTO="hantek_usb_device_end"
SUBSYSTEM!="usb", GOTO="hantek_usb_device_end"
ENV{DEVTYPE}!="usb_device",  GOTO="hantek_usb_device_end"

# Hantek DSO-6022BE
ATTR{idVendor}=="04b5", ATTR{idProduct}=="6022", MODE="0666", GROUP="plugdev"
ATTR{idVendor}=="04b4", ATTR{idProduct}=="6022", MODE="0666", GROUP="plugdev"

# Hantek DSO-6022BL
ATTR{idVendor}=="04b5", ATTR{idProduct}=="602a", MODE="0666", GROUP="plugdev"
ATTR{idVendor}=="04b4", ATTR{idProduct}=="602a", MODE="0666", GROUP="plugdev"

# Hantek DSO-6022BL in Logic Mode (Button next to usb port is released). Identifies as Lakeview Research Saleae Logic
ATTR{idVendor}=="0925", ATTR{idProduct}=="3881", MODE="0666", GROUP="plugdev"
ATTR{idVendor}=="21a9", ATTR{idProduct}=="1006", MODE="0666", GROUP="plugdev"

# Hantek DSO-2090
ATTR{idVendor}=="04b5", ATTR{idProduct}=="2090", MODE="0660", GROUP="plugdev", ENV{PRODUCT}=="4b4/2090/*", RUN+="/sbin/fxload -t fx2 -I /usr/local/share/hantek/dso2090-firmware.hex -s /usr/local/share/hantek/dso2090-loader.hex -D $env{DEVNAME}"

# Hantek DSO-2100
ATTR{idVendor}=="0547", ATTR{idProduct}=="1002", MODE="0660", GROUP="plugdev", ENV{PRODUCT}=="547/1006/*", RUN+="/sbin/fxload -t an21 -I /usr/local/share/hantek/dso2100-firmware.hex -s /usr/local/share/hantek/dso2100-loader.hex -D $env{DEVNAME}"

# Hantek DSO-2150
ATTR{idVendor}=="04b5", ATTR{idProduct}=="2150", MODE="0660", GROUP="plugdev", ENV{PRODUCT}=="4b4/2150/*", RUN+="/sbin/fxload -t fx2 -I /usr/local/share/hantek/dso2150-firmware.hex -s /usr/local/share/hantek/dso2150-loader.hex -D $env{DEVNAME}"

# Hantek DSO-2250
ATTR{idVendor}=="04b5", ATTR{idProduct}=="2250", MODE="0660", GROUP="plugdev", ENV{PRODUCT}=="4b4/2250/*", RUN+="/sbin/fxload -t fx2 -I /usr/local/share/hantek/dso2250-firmware.hex -s /usr/local/share/hantek/dso2250-loader.hex -D $env{DEVNAME}"

# Hantek DSO-5200
ATTR{idVendor}=="04b5", ATTR{idProduct}=="5200", MODE="0660", GROUP="plugdev", ENV{PRODUCT}=="4b4/5200/*", RUN+="/sbin/fxload -t fx2 -I /usr/local/share/hantek/dso5200-firmware.hex -s /usr/local/share/hantek/dso5200-loader.hex -D $env{DEVNAME}"

# Hantek DSO-5200A
ATTR{idVendor}=="04b5", ATTR{idProduct}=="520A", MODE="0660", GROUP="plugdev", ENV{PRODUCT}=="4b4/520A/*", RUN+="/sbin/fxload -t fx2 -I /usr/local/share/hantek/dso520a-firmware.hex -s /usr/local/share/hantek/dso520a-loader.hex -D $env{DEVNAME}"

LABEL="hantek_usb_device_end"